@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300;400;500;600;700;800&family=UnifrakturMaguntia&display=swap');

.logo{
    width: 6rem;
}

.imgPortada{
    border: solid black 1px;
}

.marca{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 3.75rem;
    font-weight: 400; 
}

.redes{    
    text-decoration: none;
    color: black;
}

footer{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #212529;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.pieDePagina{
    display: flex; 
    justify-content: center;
    align-items: center;   
}

.redes{
    list-style-type: none;
    margin: 0 2rem;
}

.redes a{    
    text-decoration: none;
    color:#707175;
}

.preguntas{
    margin: 3rem 0;
    width: 100%;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.375rem;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}

.preguntas h2{
    margin: 4rem;
    text-decoration: underline;
    grid-column: 1 / span 13;
    text-align: center;
}

.preguntas h3{
    text-decoration: underline;
    margin: 2rem;
}

.preguntas p{
    padding: .31rem;
}

.izquierda{    
    grid-column: 2 / span 6;
}

.derecha{
    text-align: right;
    grid-column: 7 / span 6;
}

.galeriaTienda{
    margin: 4rem;
    display: flex;
    justify-content: space-around;    
    flex-wrap: wrap;
}

.galeriaTienda div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galeriaTienda div img{    
    width: 25rem;
    height: 25rem;
    margin: 3.125rem;
    border-radius: 4px;
    object-fit: cover;
    cursor: pointer;
}

.galeriaTienda div img:hover{
    border: solid black 10px;
    transform: scale(1.2);
}

.galeriaTienda div p{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
}
.itemTienda{
    display: none;
}

#tiendaCategorias{
    display: inline;
}

.galeriaTienda div img{
    width: 13.5rem;
}

.nosotros{    
    width: 100%;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.43rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros h1{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 3.75rem;
    font-weight: 400;
    margin: 3rem 0;
}

.nosotros h2{
    font-size: 2rem;
    margin: 2rem 0;
}

.nosotros img{
    margin: 3rem;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.nosotros p{
    margin: 2rem;
    text-align: center;
    line-height: 2.5rem;
}

.nosotros div{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.modelos{
    order:2;
}

.formContact form{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding: 16%;
}

.formContact form .campo, textarea{
    width: 100%;
    padding: .93rem .62rem;
    margin-bottom: .62rem;
    border: 1px solid black;
    border-radius: 3px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;        
}

.campo{
    background-color: darkgray;    
}

.formContact textarea{
    background-color: darkgrey;
}

.btnEnviar{
    align-self: center;
    width: 40%;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.25rem;    
    border: 1px solid black;
    border-radius: 3px;
    background-color: black;
    color: white;
    padding: .31rem;
    cursor: pointer;
}

.btnEnviar:hover{
    background-color: darkgrey;
    color: black;
    font-weight: bold;
}